[submodule "gateway/gateway-python"]
	path = gateway/gateway-python
	url = git@github.com:snoke/python-ws-gateway.git
[submodule "gateway/gateway-rust"]
	path = gateway/gateway-rust
	url = git@github.com:snoke/rust-ws-gateway.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:snoke/e2e-messenger-client.git
