[submodule "gateway/gateway-rust"]
	path = gateway/gateway-rust
	url = git@github.com:snoke/rust-ws-gateway.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:snoke/e2e-messenger-client.git
[submodule "symfony"]
	path = symfony
	url = git@github.com:snoke/e2e-messenger-backend.git
[submodule "gateway/rust-http3-gateway"]
	path = gateway/rust-http3-gateway
	url = git@github.com:snoke/rust-http3-gateway.git
